version: "3.8"
services:
  db:
    image: postgres:latest
    container_name: postgres-db
    environment:
      POSTGRES_DB: seatsDB
      POSTGRES_USER: scalable
      POSTGRES_PASSWORD: admin123
    ports:
      - "5432:5432"

  app:
    image: seating-service-v1:latest
    container_name: seats-app
    ports:
      - "8080:8080"
    extra_hosts:
      - "localhost:host-gateway"
